/** @format */

@font-face {
  font-family: "Gabarito";
  src: url("./fonts/Gabarito/Gabarito-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0b0b0b;
}
.gradient_violet{
    background-image: linear-gradient(to right, #7800af ,#a836f5 ,#E542D6 , #5C0383);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  /* .container canvas {
    width: 1200px;
    height: 800px !important ;
  } */

  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(120, 86, 86); 
}

.logo
{
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  margin-top: 2vw;
}

.explaint
{
  font-weight: bold;
  color: #e7eae7;
  line-height: 1.2vw;
}

.btn
{
  border: 1px solid white;
  border-radius: 10px;
}